@import '_variables.scss';

.car-profile {
  width: 100%;
  display: inline-block;
  border: 1px solid #111111;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

.car-profile img {
  width: 40%;
  height: 40%;
  float: left;
  margin: 20px;
}

.car-profile h2 {
  font-size: 34px;
  margin: 20px;
}

.car-profile p {
  text-align: left;
  margin-left: 35px;
}

.car-profile .text {
  display: flex;
  justify-content: space-between;
}

.select-button {
  background-color: white;
  height: 55px;
  width: 190px;
  line-height: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: 5px solid $primaryBorder;
  margin: 15px 35px 15px 15px;
}

.container-with-padding {
  padding: 20px 0 0 0;

  .btn.btn-primary {
    margin-left: 20px;
  }
}