/*
In sass one can use variables for colors
so that the color must not be duplicated
and can be easily changed from one place only.
*/
$primaryBtn: #34d484;
$primaryBorder: #34d484;
$errorColor: #842029;