/*
In sass one can use variables for colors
so that the color must not be duplicated
and can be easily changed from one place only.
*/
$primary: #34d484;
$primaryBtn: #34d484;
$dangerBtn: rgb(255, 0, 0);
$dangerBorder: #d43434;
$primaryBorder: #34d484;
$errorColor: #842029;