/*
This file contains global styles that
we intend to use throughout the project.
*/

/*
We can import the variables from one file
that contains all the variables.
*/
@import '_variables.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

#app{
  height: 100vh;
  display: flex;
}

body {
  // display: flex;
  margin: 0;
  font-family: $bs-font-sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: $bs-white;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
  box-sizing: border-box;
}

small{
  color: $bs-secondary;
}

h2,h4{
  font-weight: normal;
  margin: 5px
}

p {
  margin: 0;
}

a{
  text-decoration: none;
  color: $bs-black;
}

th {
  font-weight: normal;
  background-color: $bs-gray;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid rgb(196, 196, 196);
  padding: 6px 10px;
  text-align: center;
}


// sidebar container

.sidebar {
  height: 100%; 
  display: flex;
  align-items: center;
  background-color: $bs-white; 
  // box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-right: 2px solid $bs-gray;
}

// sidebar items container
.sidebar-items {
  padding: 0;
  display: flex;
  flex-direction: column;
}

// sidebar item

.sidebar-item {
  color: $bs-black;
  padding: 5px 20px 5px 10px;
  text-decoration: none;
  
  &:hover{
  background-color: $bs-gray;
  color: $bs-black;
  // text-decoration: none;
  }

}

.active{
  background-color: $bs-gray;
}

// case

#case {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.case-small-text{
  display: flex;
  padding: 10px 0px;
  
  small{
    padding: 0px 40px 0 0
  }
}

.case-top{
  padding: 20px 30px;
}

.diagram-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid $bs-gray;
  flex-grow: 1;
  padding: 10px;
}

.recommendations-list {

  .recommendation {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid $bs-gray;
    transition: .2s;

    &:hover{
      background-color: rgb(250, 250, 250);
    }
  }

  .selected{
    border: 1px solid $bs-blue;
    margin: 10px 0px 0px 20px;
  }
}


.diagram {
  display: flex;
  flex-direction: column;
  border: 1px solid $bs-gray;
  flex-grow: 1;
}

.vue-bpmn-diagram-container { 
  flex-grow: 1;
  .selected .djs-visual > rect,
  .selected .djs-visual > circle {
    stroke: $bs-blue !important;
  }
}

.bjs-container{
  padding: 10px;
}

// Intervention

.intervention .djs-visual > rect,
.intervention .djs-visual > circle {
  stroke: rgba(173, 173, 173, 0.7) !important;
  stroke-dasharray: 4 4;
}

// intervention connector

// .djs-group:last-of-type .djs-connection .djs-visual :last-of-type
//, .djs-group:nth-last-of-type(2) .djs-connection .djs-visual :last-of-type 
// {
//   stroke:rgba(173, 173, 173, 0.7) !important;
//   stroke-dasharray: 5 5;
// }

// icons (erase for now)

.djs-shape .djs-visual > path {
  stroke: rgba(255, 255, 255,0) !important;
  fill: rgba(255, 255, 255, 0) !important;
}

// mini-map

.djs-minimap {
  top: 0;
  right: 0;

  .viewport-dom {
  border: solid 1px $bs-blue;
  }
}

// legend

.legend {
  // box-sizing: border-box;
  padding: 5px 10px 0 0;
}

.legend .past-activity {
  border-bottom: 2px solid $bs-black;
  margin: 10px 15px;
}

.legend .recommendation {
  border-bottom: 2px dashed rgb(173, 173, 173);
  margin: 10px 15px;
}

// Cases
#cases {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cases-stats{
  display: flex;

  span{
    padding: 10px 40px 20px 5px
  }
}

.cases-table{
  flex: 1;
  justify-content: center;
}

#home{
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#resources{
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
